<ion-view>
  <ion-nav-title>
    <!-- this view supplied its own ion-header-bar to be used instead of the app's default ion-nav-bar -->
    <fp-search-bar search-model="searchTerm" focused="focused" submit="search(searchTerm)"></fp-search-bar>
  </ion-nav-title>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="post-list"
                collection-repeat="post in posts"
                collection-item-width="'100%'"
                collection-item-height="92"
                ng-class="post.points > 0?'item-icon-right':''"
                ng-show="post.title.length"
                fp-share style="">

        <a ng-if="post.num_comments != null" class="icon ion-chatbubble light" ng-click="loadComments(post.objectID)">
          {{post.num_comments}}
        </a>
        <h2 ng-click="open(post.url)">{{post.title}}</h2>
        <p>
          <span ng-if="post.points > 0">{{post.points}} points &nbsp;</span>
          {{post.created_at_i | timeAgo}} &nbsp;
          {{post.author}}
        </p>
      </ion-item>
      <ion-item class="padding text-center" ng-if="error">
        <h3>Request Failed</h3>
        <small>Check that you are online. If you are, the server may be offline.</small>
      </ion-item>

      <div class="spinner ng-hide" ng-show="searching" ng-style="{'top':getHalfHeight()+'px'}" >
        <i class="icon ion-loading-d energized"></i>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
