<ion-view title="Front Page">
  <ion-nav-bar class="bar-energized nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon icon ion-chevron-left">
      Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-click="open(post.url)"
                class="item item-icon-right"
                collection-repeat="post in posts"
                collection-item-width="'100%'"
                collection-item-height="70"
                style="width:100%">
        <h2>{{post.title}}</h2>
        <p>{{post.points}} points &nbsp; {{post.submitted_on}} &nbsp; by {{post.submitted_by}}</p>
        <i class="icon ion-chatbubble light"><span>{{post.points}}</span></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
        icon="ion-loading-c"
        on-infinite="loadMoreData()">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
