<ion-view title="Front Page">
  <ion-nav-bar class="bar-energized nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item item-icon-right"
                collection-repeat="post in posts"
                collection-item-width="'100%'"
                collection-item-height="88"
                ng-show="post.title.length"
                style="-webkit-calc(100% - 30px);">
        <div style="display: table-row; height:89px;" ng-click="open(post.url)">
          <div style="display:table-cell;vertical-align: middle;">
            <h2>{{post.title}}</h2>
            <p>
              <span ng-if="post.points > 0">{{post.points}} points &nbsp;</span>
              <span ng-if="post.submitted_on.length && post.submitted_on != 'undefined'">{{post.submitted_on}} &nbsp;</span>
              <span ng-if="post.submitted_by.length && post.submitted_by != 'undefined'">by {{post.submitted_by}}</span>
            </p>
          </div>
        </div>
        <a class="icon ion-chatbubble light" ng-href="/#/tab/comments/{{post.id}}">
          <span ng-if="post.points > 0">{{post.points}}</span>
        </a>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
        icon="ion-loading-c"
        on-infinite="loadMoreData()">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
