<ion-view title="">
  <ion-nav-bar>
    <!-- this view supplied its own ion-header-bar to be used instead of the app's default ion-nav-bar -->
    <search-bar model="searchTerm" focused="focused" submit="search(searchTerm)" clear="clear()"></search-bar>
  </ion-nav-bar>
  <ion-content class="has-header has-footer">
    <ion-list>
      <ion-item class="post-list"
                collection-repeat="post in posts"
                collection-item-width="'100%'"
                collection-item-height="92"
                ng-class="post.points > 0?'item-icon-right':''"
                ng-show="post.title.length"
                fp-share style="">

        <a ng-if="post.comments != null" class="icon ion-chatbubble light" ng-click="loadComments(post.id)">
          {{post.comments}}
        </a>
        <h2 ng-click="open(post.url)">{{post.title}}</h2>
        <p>
          <span ng-if="post.points > 0">{{post.points}} points &nbsp;</span>
          {{post.submitted_on}} &nbsp;
          {{post.submitted_by}}
        </p>
      </ion-item>
      <ion-item class="padding text-center" ng-if="error">
        <h3>Request Failed</h3>
        <small>Check that you are online. If you are, the server may be offline.</small>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
