<ion-view title="Search">
  <ion-header>
    <form class="bar bar-header item-input-inset" ng-submit="search(searchTerm)">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchTerm">
      </label>
    </form>
  </ion-header>
  <ion-content class="has-header has-footer">

    <ion-list>
      <ion-item ng-click="open(post.url)"
                class="item"
                collection-repeat="post in posts"
                collection-item-width="'100%'"
                collection-item-height="70"
                style="width:100%">
        <h2>{{post.title}}</h2>
        <p>{{post.points}} points &nbsp; {{post.submitted_on}} &nbsp; by {{post.submitted_by}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
